body {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    margin: 40px;
    display: block;
}

.left {
    img {
        margin: 0;
        display: inline-block;
    }

    margin-left: 100px;
    width: 800px;
    padding: 30px;
    display: inline-block;
    text-align: center;

    #input {
        height: 13em;
    }

    .encriptar {
        width: 328px;
        height: 67px;
        margin: 8px 0;
        display: inline-block;
        border: 0;
        font-size: 16px;
        background-color: #0A3871;
        color: #ffffff;
        cursor: pointer;
        border-radius: 24px;
        border: 2px solid #0A3871;
    }

    .desencriptar {
        width: 328px;
        height: 67px;
        margin: 8px 0;
        display: inline-block;
        border: 0;
        font-size: 16px;
        background-color: #ffffff;
        color: #0A3871;
        cursor: pointer;
        border-radius: 24px;
        border: 2px solid #0A3871;
    }
}

.right {
    width: 400px;
    margin: 40px;
    padding: 30px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    text-align: center;

    #output {
        height: 13em;
    }

    #input img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2,
    p {
        width: 300px;
        margin: 20px auto;
    }

    button {
        width: 328px;
        height: 67px;
        margin: 8px 0;
        display: inline-block;
        border: 0;
        font-size: 16px;
        background-color: #ffffff;
        color: #0A3871;
        cursor: pointer;
        border-radius: 24px;
        border: 2px solid #0A3871;
    }
}

#input {
    background-color: #F3F5FC;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    font-size: 32px;
    width: 100%;
}

#output {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    font-size: 32px;
}

@media only screen and (max-width: 769px) {

    .left {
        width: 700px;
        margin: 0;
    }

    .right {
        width: 610px;

        #input-img {
            display: none;
        }

        button {
            width: 95%;
        }
    }
}

@media only screen and (max-width: 376px) {

    .left {
        width: 376px;
        margin: 0;

        button {
            width: 95%;
        }
    }

    .right {

        #input-img {
            display: none;
        }

        width: 300px;

        button {
            width: 95%;
        }
    }
}